body {
  background-color: #260940;
}

.container {
  max-width: 1170px !important;
  width: 80%;
}

img {
  max-width: 100%;
}

.header {
  display: inline-block;
  width: 80%;
  left: 10%;
  position: relative;
}

.calendar {
  display: inline-block;
  width: 95%;
  left: 2.5%;
  position: relative;
}
