body {
  background-color: #333;
}

.header, .calendar {
  text-align: center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.header {
  background: url(/img/be-excellent.png) no-repeat center top;
  height: 400px;
}

.calendar {
  background: url(/img/calendar.png) no-repeat center top;
  height: 600px;
}
